# Ch3 Linear Regression

In [12]:
#Lab: Linear Regression
#load data...
#boston dataset
from sklearn.datasets import load_boston
from sklearn import linear_model
boston_data = load_boston()

import pandas as pd
import numpy as np
import seaborn as sns
boston_data.data.shape

(506, 13)

In [13]:
boston= pd.DataFrame(boston_data.data)

In [14]:
boston.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.593761,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.596783,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.647423,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [15]:
#find out no column name... Let's add column name in it
boston.columns=boston_data.feature_names
print(boston.columns)

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [33]:
from sklearn.preprocessing import scale
reg_model= linear_model.LinearRegression()
#add MEDV column
boston['MEDV']= boston_data.target
x= scale(boston.LSTAT).reshape(-1,1)
y=boston.MEDV
tmp =reg_model.fit(x,y)

In [34]:
print(tmp.coef_)

[-6.77765364]